<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=DESKTOP-VDNALC6\SQLEXPRESS; Database=Restaurant; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	
	<appSettings>
		<add key="Database" value = "Restaurant"/>
		<add key="ParentTableName" value = "Customers"/>
		<add key="ChildTableName" value="Orders"/>
		<add key="ParentSelectQuery" value="SELECT * FROM Customers"/>
		<add key="ChildSelectQuery" value="SELECT * FROM Orders"/>
		<add key="ParentReferencedKey" value="CID"/>
		<add key="ChildForeignKey" value="CID"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM Orders WHERE CID = {0}"/>
	</appSettings>
	
	
	
	<!--<appSettings>
		<add key="Database" value = "Restaurant"/>
		<add key="ParentTableName" value = "MenuItemsTypes"/>
		<add key="ChildTableName" value="MenuItems"/>
		<add key="ParentSelectQuery" value="SELECT * FROM MenuItemsTypes"/>
		<add key="ChildSelectQuery" value="SELECT * FROM MenuItems"/>
		<add key="ParentReferencedKey" value="MITID"/>
		<add key="ChildForeignKey" value="MITID"/>
		<add key="ParentSelectionQuery" value="SELECT * FROM MenuItems WHERE MITID = {0}"/>
	</appSettings>-->
	
	

</configuration>